.footerFiller {
    height: 12rem;
    pointer-events: none;
}

footer { 
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
}



.socialMedia_container{
    align-self: flex-end;
}
.footerIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    li {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.contact_container {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;

    h3 {
        margin-bottom: 1rem;
    }
}
